.header {
	padding-top: 17px;
	padding-bottom: 17px;
	border-bottom: 1px solid #d6d6d6;
	line-height: 1;
}

.header-row {
	display: flex;
	align-items: center;
}

.header-nav {
	margin-left: 172px;
	font-weight: 500;
	color: #292929;
}

.header-nav ul {
	display: flex;
}

.header-nav li + li {
	margin-left: 70px;
}

.header-nav a {
	transition: color 0.2s ease;
}

.header-nav a:hover {
	color: #01996d;
}

.header-login {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-login > * + * {
	margin-left: 35px;
}

.header-login-link {
	margin-top: -1px;
	color: #000;
	transition: color 0.2s ease;
}

.header-login-link:hover {
	color: #01996d;
}

@media (max-width: 1199px) {
	.header-row {
		justify-content: space-between;
	}
	.header-nav {
		margin-left: 30px;
	}
	.header-nav li + li {
		margin-left: 50px;
	}
	.header-login {
        margin-left: 30px;
	}
}

@media (max-width: 991px) {
    .header-nav, .header-login {
		display: none;
	}
}

/*Стилизация для Формы*/

.pop_up {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 2;
	transform: translateY(-44.5%) scale(0);
	transition: .4s ease-in-out;
}

.pop_up.active {
	transform: translateY(0%) scale(100%);
	background-color: rgba(22, 17, 17, 0.616);
}

.pop_up_container {
	display: flex;
	width: 100%;
	height: 100%;
}
.pop_up_body {
	margin: auto;
	width: 500px;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	padding: 100px 15px 110px 15px;
	position: relative;
}
.pop_up_body p {
	font-size: 28px;
	font-family: 'Georgia', serif;
	font-weight: 600;
	color: #000;
	margin-bottom: 40px;
}
.pop_up_body input {
	display: block;
	margin: 25px auto 0px auto;
	width: 330px;
	padding: 17px 20px;
	background-color: burlywood;
	border-radius: 10px;
	border: none;
	font-family: 'Georgia', serif;
	font-size: 18px;
	font-weight: 500;
}

.pop_up_body button  {
	cursor: pointer;
	display: block;
	width: 330px;
	margin: 60px auto 0px auto;
	padding: 20px 0px;
	font-family: 'Georgia', serif;
	font-size: 16px;
	font-weight: 500;
	border: none;
	color: #000;
	border-radius: 10px;
	background-color: orange;

}
.pop_up_close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	cursor: pointer;
}


.log_up
 {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 2;
	transform: translateY(-44.5%) scale(0);
	transition: .4s ease-in-out;
}

.log_up.active {
	transform: translateY(0%) scale(100%);
	background-color: rgba(22, 17, 17, 0.616);
}

.log_up_container {
	display: flex;
	width: 100%;
	height: 100%;
}
.log_up_body {
	margin: auto;
	width: 500px;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	padding: 100px 15px 110px 15px;
	position: relative;
}
.log_up_body p {
	font-size: 28px;
	font-family: 'Georgia', serif;
	font-weight: 600;
	color: #000;
	margin-bottom: 40px;
}
.log_up_body input {
	display: block;
	margin: 25px auto 0px auto;
	width: 330px;
	padding: 17px 20px;
	background-color: burlywood;
	border-radius: 10px;
	border: none;
	font-family: 'Georgia', serif;
	font-size: 18px;
	font-weight: 500;
}

.log_up_body button  {
	cursor: pointer;
	display: block;
	width: 330px;
	margin: 60px auto 0px auto;
	padding: 20px 0px;
	font-family: 'Georgia', serif;
	font-size: 16px;
	font-weight: 500;
	border: none;
	color: #000;
	border-radius: 10px;
	background-color: orange;

}
.log_up_close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	cursor: pointer;
}
